@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>总览</title>


</head>
<body>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue-resource/vue-resource.js"></script>
    <script src="~/lib/element-ui/index.js"></script>
</body>
</html>