
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>权限管理</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/element-ui/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/lib/vue/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.1/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <el-button type="success" v-on:click="AddFormVisible = true">添加</el-button>
        <el-button type="danger" v-on:click="AllDel" plain>批量删除</el-button>
        <!--显示表格-->
        <template>
            <el-table :data="tableData.filter(data => !search || data.jur_Name.toLowerCase().includes(search.toLowerCase()))"
                      @@selection-change="handleSelectionChange"
                      style="width: 100%" v-loading="loading">
                <el-table-column type="selection"
                                 width="55">
                </el-table-column>
                <el-table-column type="index"
                                 :index="indexMethod">
                </el-table-column>
                <el-table-column label="权限名称"
                                 width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.jur_Name }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="权限路径"
                                 width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.jur_Url }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="权限描述"
                                 width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.jur_describe }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="权限图标"
                                 width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.jur_icon }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="权限排序"
                                 width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.jur_sort }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot="header" slot-scope="scope">
                        <el-input v-model="search"
                                  size="mini"
                                  placeholder="输入关键字搜索权限" />
                    </template>
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button size="mini"
                                   type="danger"
                                   @@click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--分页-->
            <div class="block">
                <el-pagination @@size-change="handleSizeChange"
                               @@current-change="handleCurrentChange"
                               background
                               :current-page="page"
                               :page-sizes="[3, 6, 9, 20]"
                               :hide-on-single-page="value"
                               :page-size="limit"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="total">
                </el-pagination>
            </div>
        </template>
        <!--添加弹出窗-->
        <el-dialog title="添加权限" :visible.sync="AddFormVisible" @@close="cloneWindows('form')">
            <el-form :model="form" ref="form">
                <el-form-item label="权限名称" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限名称不能为空'}]"
                              prop="jur_Name">
                    <el-input v-model="form.jur_Name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限路径" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限路径不能为空'}]"
                              prop="jur_Url">
                    <el-input v-model="form.jur_Url" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限描述" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限描述不能为空'}]"
                              prop="jur_describe">
                    
                    <el-input v-model="form.jur_describe" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限图标" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限图标不能为空'}]"
                              prop="jur_icon">
                    
                    <el-input v-model="form.jur_icon" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限排序" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限排序不能为空'}]"
                              prop="jur_sort">
                    
                    <el-input-number v-model="form.jur_sort" :min="0" :max="10" label="描述文字"></el-input-number>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="cloneWindows('form')">取 消</el-button>
                <el-button type="primary" @@click="handleAdd('form')">确 定</el-button>
            </div>
        </el-dialog>
        <!--编辑弹出窗-->
        <el-dialog title="修改权限" :visible.sync="PutFormVisible" @@close="cloneWindows('form')">
            <el-form :model="form" ref="form">
                <el-form-item label="权限名称" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限名称不能为空'}]"
                              prop="jur_Name">
                    <input type="hidden" v-model="form.jur_Id" />
                    <el-input v-model="form.jur_Name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限路径" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限路径不能为空'}]"
                              prop="jur_Url">
                    <el-input v-model="form.jur_Url" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限描述" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限描述不能为空'}]"
                              prop="jur_describe">

                    <el-input v-model="form.jur_describe" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限图标" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限图标不能为空'}]"
                              prop="jur_icon">

                    <el-input v-model="form.jur_icon" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="权限排序" :label-width="formLabelWidth"
                              :rules="[{ required: true, message: '权限排序不能为空'}]"
                              prop="jur_sort">

                    <el-input-number v-model="form.jur_sort" :min="0" :max="10" label="描述文字"></el-input-number>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="cloneWindows('form')">取 消</el-button>
                <el-button type="primary" @@click="saveEdit('form')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
</html>
<script>

    var app = new Vue({
        el: "#app",
        data() {
            return {
                tableData: [],//显示的表格
                loading: true,//加载动画
                search: "",//搜索条件
                AddFormVisible: false,//添加弹出层，默认隐藏
                PutFormVisible: false,//修改弹出层，默认隐藏
                form: {
                    jur_Name: '',
                    jur_Url: '',
                    jur_describe: '',
                    jur_icon: "",
                    jur_sort: "",
                },     //添加的表单
                multipleSelection: [],//多选时选中的数据保存处
                value: true,//只有一页时是否隐藏
                formLabelWidth: '120px',//表单的长度
                imageUrl: "",//图片预览的路径
                page: 1,//当前页数
                limit: 3,//每页个数
                total: 30,//总条数
                AllDelis: true,//批量删除按钮是否可见
            }
        },

        //显示
        mounted: function () {
            this.loaddata();
        },
        methods: {
            //加载数据方法
            loaddata: function () {
                axios.get('http://localhost:10627/api/User/GetJur', {
                    params: {
                        page: this.page,
                        limit: this.limit,
                    }
                }).then(response => {
                    this.tableData = response.data.result;
                    this.total = response.data.total;
                    this.loading = false;
                }).catch(function (error) {
                    console.log(error)
                })
            },
            //添加
            handleAdd(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios({
                            url: 'http://localhost:10627/api/User/AddJur',
                            method: 'post',
                            data: JSON.stringify(this.form),
                            headers: {
                                'Content-type': 'application/json'
                            }
                        }).then(response => {
                            if (response.data.code == 1) {
                                this.$message.error('权限名称或者权限路径是重复的！');
                            }
                            else if (response.data.code==2) {
                                this.AddFormVisible = false;//关闭弹出框
                                this.loaddata();
                                this.$notify({
                                    title: '新增成功',
                                    message: '新增权限：' + this.form.jur_Name + "成功！",
                                    type: 'success'
                                });
                                this.form.jur_Name = "";
                                this.form.jur_describe = "";
                                this.form.jur_icon = "";
                                this.form.jur_sort = "";
                                this.form.jur_Url = "";
                            } else {
                                this.$message.error('新增失败');
                            }
                        }).catch(error => {
                            console.log(error)
                        })
                    } else {
                        this.$message.error('请您核对后提交！')
                        return false;
                    }
                });
            },
            //修改弹框反填
            handleEdit(index, row) {//index为当前行的索引，row为当前行，可以获得当前行的数据
                this.form.jur_Name = row.jur_Name;
                this.form.jur_describe = row.jur_describe;
                this.form.jur_icon = row.jur_icon;
                this.form.jur_sort = row.jur_sort;
                this.form.jur_Id = row.jur_Id;
                this.form.jur_Url = row.jur_Url;
                this.PutFormVisible = true;
            },
            //保存修改
            saveEdit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios({
                            url: 'http://localhost:10627/api/User/PutJur',
                            method: 'put',
                            data: JSON.stringify(this.form),
                            headers: {
                                'Content-type': 'application/json'
                            }
                        }).then(response => {
                            if (response.data.code == 1) {
                                this.$message.error('权限名称或者权限路径是重复的！');
                            }
                            else if (response.data.code == 2) {
                                this.PutFormVisible = false;
                                this.loaddata();
                                this.$notify({
                                    title: '修改成功',
                                    message: '修改权限：' + this.form.jur_Name + "成功！",
                                    type: 'success'
                                });
                                this.form.jur_Name = "";
                                this.form.jur_describe = "";
                                this.form.jur_icon = "";
                                this.form.jur_sort = "";
                                this.form.jur_Url = "";
                            } else {
                                this.$message.error('修改失败');
                            }
                        }).catch(error => {
                            this.cloneWindows();
                        })
                    } else {
                        this.$message.error('请您核对后提交！')
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //点击关闭按钮后
            cloneWindows(formName) {
                this.AddFormVisible = false;
                this.PutFormVisible = false;
                console.log("牛逼")
                //this.$nextTick(() => {
                //    this.$refs[formName].resetFields();
                //})
                this.form.jur_Name = "";
                this.form.jur_describe = "";
                this.form.jur_icon = "";
                this.form.jur_sort = "";
                this.form.jur_Url = "";
            },
            //删除操作
            handleDelete(index, row) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('http://localhost:10627/api/User/DelJur', {
                        params: {
                            id: ("," + row.jur_Id),
                        }
                    }).then(response => {
                        if (response.data) {
                            this.$nextTick(() => console.log("删除成功！"));
                            this.loaddata();
                            this.$notify({
                                title: '删除成功',
                                message: '删除权限：' + row.jur_Name + "成功！",
                                type: 'success'
                            });
                        } else {
                            this.$message.error('删除失败')
                        }
                    }).catch(function (error) {
                        console.log(error)
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //批量删除
            AllDel() {
                if (this.multipleSelection.length == 0)
                    this.$message.error('您未选中任何数据！');
                else {
                    var str = "";
                    var Names = "";
                    this.multipleSelection.forEach(row => {
                        str += "," + row.jur_Id;
                        Names += "," + row.jur_Name;
                    });
                    this.$confirm('此操作将永久删除所有选中的文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.delete('http://localhost:10627/api/User/DelJur', {
                            params: {
                                id: str,
                            }
                        }).then(response => {
                            if (response.data) {
                                this.loaddata();
                                this.$notify({
                                    title: '删除成功',
                                    message: '删除权限：' + Names.substring(1) + "   成功！",
                                    type: 'success'
                                });
                            } else {
                                this.$message.error('删除失败')
                            }
                        }).catch(function (error) {
                            console.log(error)
                        })

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                }
            },
            //显示序号
            indexMethod(index) {
                return index + 1;
            },
            //多选框
            handleSelectionChange(val) {
                this.multipleSelection = null;
                this.multipleSelection = val;
            },
            // 当前页改变触发事件 val为当前选择页
            handleSizeChange(val) {
                this.limit = val;
                this.loaddata();
            },
            //每页显示条数改变触发事件 val为当前每页显示条数
            handleCurrentChange(val) {
                this.page = val;
                this.loaddata();
            }
        },
    });

</script>